.text-animate {
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    width: fit-content;
    display: inline-flex;
}



@for $i from 0 through 100 {
    .text-animate._#{$i} {
        animation-delay: #{$i * 0.05}s;
    }
}