.about-page {

    max-height: 80%;
    position: absolute;
    top: 20%;

    .text-zone {
        position: relative;
        display: table-cell;
        flex-direction: column;
        z-index: 1;
        vertical-align: middle;
        width: 35%;
        max-height: 90%;
    }

    h1 {
        font-size: 6rem;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 15px;
        display: flex;
        flex-direction: column;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 2vmin;
            position: absolute;
            margin-top: -4rem;
            opacity: 0.6;
        }

        @keyframes custom {
            from {
                opacity: 0;
            }

            to {
                opacity: 0.6;
            }
        }
        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 2vmin;
            animation: custom 1s 1.7s backwards;
            opacity: 0.6;
            position: relative;
            margin-top: 2rem;

        }
    }

    

    p {
        font-size: 1.5rem;
        color: #fff;
        font-family: 'Optima', sans-serif;
        font-weight: 100;
        min-width: fit-content;
        animation: pulse 1s;
    }
}

.stage-cube-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    right: 10%;
    position: absolute;
}

.adjust {
    z-index: 10;
}


.cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
  
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
  
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;


    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

.cubespinner div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px * 6;
    height: 60px * 6;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.4);
    box-shadow: inset 0 0 20px 0px lightyellow;
    line-height: 120px;
    font-size: 150px;
}

.cubespinner .face1 {
    transform: translateZ(61px * 3);
    backface-visibility: visible;
  }
  .cubespinner .face2 {
    transform: rotateY(90deg) translateZ(61px * 3);
    backface-visibility: visible;
  }
  .cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(61px * 3);
    backface-visibility: visible;
  }
  .cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(61px * 3);
    backface-visibility: visible;
  }
  .cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(61px * 3);
    backface-visibility: visible;
  }
  .cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(61px * 3);
    backface-visibility: visible;
  }
  



@keyframes spincube {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }