.contact-page {

    max-height: 80%;
    position: absolute;
    top: 20%;

    .text-zone {
        position: relative;
        display: table-cell;
        flex-direction: column;
        z-index: 1;
        vertical-align: middle;
        width: 50%;
        max-height: 90%;
    }
        h1 {
        font-size: 6rem;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: 1.5rem;
        color: #fff;
        font-family: 'Optima', sans-serif;
        font-weight: 100;
        min-width: fit-content;
        animation: pulse 1s;
    }

    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
        color: #ffd700;
        background-color: transparent;
        font-size: 1vmin;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'sans-serif';
        text-decoration: none;
        padding: 10px 18px;
        border : 1px solid #ffd700;
        float: right;
        width: fit-content;
        text-align: center;
        position: relative;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 8px;
        transition: background-color 0.75s;
        top: 0;
    
        &:hover {
            background-color: #ffd700;
            color: #333;
        }
    
    }
  }
  
  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }

  .info-map {
    position: static;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
  }
  

  
  @media screen and (max-width: 1200px) {
    .map-wrap {
      float: none;
      margin: 0;
      width: 100%;
      height: 400px;
    }
    
    .info-map {
      display: none;
    }
  }