
.nav-bar {
    background: #181818;
    width: 9rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
  
    .logo {
      display: block;
      padding: 8px 0;
  
      img {
        display: block;
        margin: 8px auto;
        width: 5rem;
        height: auto;
  
        &.sub-logo {
          width: 8rem;
        }
      }
    }
  
    nav {
      display: block;
      text-align: center;
      position: relative;
      height: 20em;
      top: 5%;
      width: 100%;
  
      a {
        font-size: 2.5em;
        color: #4d4d4e;
        display: block;
        height: 9rem;
        line-height: 9rem;
        top: -5rem;
        position: relative;
        text-decoration: none;
  
        i {
            transition: all 0.3s ease-out;
          }
  
        &:hover {
          color: #ffd700;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: 0.45em;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
  
        &:first-child {
          &:after {
            content: 'HOME';
          }
        }
      }
  
      a.about-link {
        &:after {
          content: 'ABOUT';
        }
      }
  
      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }

      a.work-link {
        &:after {
          content: 'WORK';
        }
      }
  
      a.portfolio-link {
        &:after {
          content: 'PORTFOLIO';
        }
      }
  
      a.active {
        svg {
          color: #ffd700;
        }
      }
    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 2.5em;
                line-height: 16px;
                
                &:hover svg{
                    color: #ffd700;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (max-height: 1200px){
    
  .nav-bar {
      background: #181818;
      padding: 0 3px;
      width: 5rem;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 3;
      min-height: 500px;
    
      .logo {
        display: block;
        padding: 8px 0;
    
        img {
          display: block;
          margin: 8px auto;
          width: 2.5rem;
          height: auto;
    
          &.sub-logo {
            width: 5rem;
          }
        }
      }
    
      nav {
        display: block;
        text-align: center;
        position: relative;
        width: 100%;
    
        a {
          font-size: 1.75rem;
          color: #4d4d4e;
          display: block;
          line-height: 7rem;
          height: 7rem;
          position: relative;
          text-decoration: none;
    
          i {
              transition: all 0.3s ease-out;
            }
    
          &:hover {
            color: #ffd700;
    
            svg {
              opacity: 0;
            }
    
            &:after {
              opacity: 1;
            }
          }
    
          &:after {
            content: '';
            font-size: 1rem;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
    
          &:first-child {
            &:after {
              content: 'HOME';
            }
          }
        }
    
        a.about-link {
          &:after {
            content: 'ABOUT';
          }
        }
    
        a.contact-link {
          &:after {
            content: 'CONTACT';
          }
        }
    
        a.portfolio-link {
          &:after {
            content: 'PORTFOLIO';
          }
        }
    
        a.active {
          svg {
            color: #ffd700;
          }
        }
      }
  
      ul {
          position: absolute;
          bottom: 1rem;
          width: 100%;
          display: block;
          padding: 0;
          list-style: none;
          text-align: center;
          margin: 0;
  
          li {
              a {
                  padding: 7px 0;
                  display: block;
                  font-size: 2rem;
                  line-height: 2rem;
                  
                  &:hover {
                      svg{
                          color: #ffd700;
                      }
                  }
              }
          }
      }
  }
  }