@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity:0;
}
.console-container {
  font-family: 'Coolvetica';;
  font-size: 3vmin;
  text-align:bottom;
  height: 100%;
  width: 100%;
  position: relative;
  color:white;
  margin-right: 0px;
}
.console-underscore {
    display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}