@use 'sass:map';

$breakpoints: (
  mobile: 0px,
  tablet: 768px,
  tabletmedium: 1024px,
  desktopmedium: 1280px,
  desktop: 1440px,
  desktopxl: 1920px,
);

@mixin mq($breakpoint) {
  @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin mqMax($breakpoint) {
  @media (max-width: #{map.get($breakpoints, $breakpoint) - 1}) {
    @content;
  }
}


@mixin mqHelper($property, $values...) {
  $widths: map.values($breakpoints);

  @for $i from 0 to length($values) {
    @media (min-width: #{nth($widths, $i+1)}) {
      #{$property}: #{nth($values, $i + 1)};
    }
  }
}


.work {
  &__document {
    position: absolute;
    top: 0%;
    right: 0;
    width: 85%;
    height: 90%;
  }

  &__buttons {
    margin: 20px 0;
  }

  .react-pdf {
    &__Page {
      overflow: scroll;
      margin-top: 40px;
      max-width: 80%;
      overflow-x: hidden;
      min-width: unset;
      @include mqMax('tablet') {
        max-width: 90%;
        
      }



      &__canvas {
        width: 100% !important;
        height: auto !important;
      }
    }

    &__Document {
      display : flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      flex-direction: column;
    }

    
  }

  button {
    all: unset;
    color: #ffd700;
    background-color: transparent;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'sans-serif';
    text-decoration: none;
    padding: 10px 18px;
    border : 1px solid #ffd700;
    float: right;
    width: fit-content;
    text-align: center;
    position: relative;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    border-radius: 8px;
    transition: background-color 0.75s;
    top: 0;

    &:hover {
        background-color: #ffd700;
        color: #333;
    }
  }
}

